<html>
    <head>
      <script src="{{url_for('static', filename='script.js')}}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Oregon</title>
    </head>
    <style type="text/css"> 
      
      th:tr{ 
          color: blue; 
    
      } 
      tr:nth-of-type(2n){ 
          border: 1px solid black; 
          background-color: rgba(150, 150, 150, 0.5); 
    
      } 
    
      td{ 
          padding: 8px 8px; 
          border: 1px solid black; 
      } 
  </style> 
    <body>
	    <b>Oregon</b><br><br>
    <!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'top_10_phones')">TOP 10 PHONES</button>
    <button class="tablinks" onclick="openCity(event, 'top_10_tablets')">TOP 10 TABLETS</button>
    <button class="tablinks" onclick="openCity(event, 'top_10_all')">TOP 10 ALL</button>
  </div>
  
  <!-- Tab content -->
 <div id="top_10_phones" class="tabcontent">
    <h3>Best Selling Phones</h3>
    <table style="margin-left: 20px;"> 
      <!-- Table headers -->
          <th> 
            <tr style="color: rgb(255, 255, 255); ">     
              <td>Rank</td> 
              <td>Phone</td> 
      </tr> 
          </th> 
            
      <!-- For loop logic of jinja template -->
      {%for i in range(0, len_phones)%}       
      <!-- table rows -->
      <tr> 
          <td>{{i+1}}</td> 
          <td>{{top10_phones[i]}}</td> 
        
      {%endfor%} 
        
      </tr> 
      </table> 
  </div>
  
  <div id="top_10_tablets" class="tabcontent">
    <h3>Best Selling Tablets</h3>
    <table style="margin-left: 20px;"> 
      <!-- Table headers -->
          <th> 
            <tr style="color: rgb(255, 255, 255); ">     
              <td>Rank</td> 
              <td>Tablet</td> 
      </tr> 
          </th> 
            
      <!-- For loop logic of jinja template -->
      {%for i in range(0, len_tablets)%} 
      <!-- table rows -->
      <tr> 
          <td>{{i+1}}</td> 
          <td>{{top10_tablets[i]}}</td> 
        
      {%endfor%} 
        
      </tr>  
      </table> 
  </div>
  
  <div id="top_10_all" class="tabcontent">
    <h3>Best Selling Products</h3>
    <table style="margin-left: 20px;"> 
      <!-- Table headers -->
          <th> 
              <tr style="color: rgb(255, 255, 255); ">     
              <td>Rank</td> 
              <td>Product</td> 
      </tr> 
          </th> 
            
      <!-- For loop logic of jinja template -->
      {%for i in range(0, len_all)%} 
      <!-- table rows -->
      <tr> 
          <td>{{i+1}}</td> 
          <td>{{top10_all[i]}}</td> 
        
      {%endfor%} 
        
      </tr> 
      </table> 
  </div>
  <br>
  <a href="/input">Update</a>
  <br>
  <br>Visitors {{count}}<br/>
    </body>
</html>

